route_tables = {
  public = {
    display_name = "public"
    vcn_name     = "vcn"
    route_rules = [
      {
	destination         = "0.0.0.0/0"
	destination_type    = "CIDR_BLOCK"
	network_entity_name = "ig_ig"
      }
    ]
  }
  private = {
    display_name = "private"
    vcn_name     = "vcn"
    route_rules = [
      {
	description         = "Traffic to OCI services"
	destination         = "services"
	destination_type    = "SERVICE_CIDR_BLOCK"
	network_entity_name = "sg_sg"
      },
      {
	description         = "Traffic to the internet through NAT"
	destination         = "0.0.0.0/0"
	destination_type    = "CIDR_BLOCK"
	network_entity_name = "ng_ng"
      }
    ]
  }
}
