security_lists = {
  redis_insight = {
    vcn_name     = "vcn"
    display_name = "redis-insight"
    egress_rules = [
      {
	description      = "All egress"
	destination      = "0.0.0.0/0"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      }
    ]
    ingress_rules = [
      {
	description = "SSH access"
	protocol    = "6"
	source      = "0.0.0.0/0"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  min = 22
	  max = 22
	}
      },
      {
	description = "Redis Insight UI"
	protocol    = "6"
	source      = "0.0.0.0/0"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  min = 5540
	  max = 5540
	}
      }
    ]
  }
  cache = {
    vcn_name     = "vcn"
    display_name = "cache"
    egress_rules = [
      {
	description      = "All egress"
	destination      = "0.0.0.0/0"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      }
    ]
    ingress_rules = []
  }
}

network_security_group_rules = {
  cache_from_redis_insight = {
    network_security_group_name = "cache"
    rules = {
      direction   = "INGRESS"
      protocol    = "6"
      source      = "redis_insight"
      source_type = "NETWORK_SECURITY_GROUP"
      stateless   = false
      description = "Allow Redis access from the Redis Insight host"
      tcp_options = {
	destination_port_range = {
	  min = 6379
	  max = 6379
	}
      }
    }
  }
  redis_insight_egress_all = {
    network_security_group_name = "redis_insight"
    rules = {
      direction        = "EGRESS"
      protocol         = "all"
      destination      = "0.0.0.0/0"
      destination_type = "CIDR_BLOCK"
      stateless        = false
      description      = "Allow the Redis Insight host to reach the internet"
    }
  }
  cache_egress_all = {
    network_security_group_name = "cache"
    rules = {
      direction        = "EGRESS"
      protocol         = "all"
      destination      = "0.0.0.0/0"
      destination_type = "CIDR_BLOCK"
      stateless        = false
      description      = "Allow cache egress"
    }
  }
}
