vcns = {
  vcn = {
    cidr_blocks      = ["10.70.0.0/16"]
    display_name     = "cache-vcn"
    dns_label        = "cachevcn"
    compartment_name = "dev"
    is_ipv6enabled   = false
  }
}

internet_gateways = {
  ig = {
    display_name = "cache-ig"
    vcn_name     = "vcn"
  }
}

nat_gateways = {
  ng = {
    display_name = "cache-ng"
    vcn_name     = "vcn"
  }
}

service_gateways = {
  sg = {
    display_name = "cache-sg"
    vcn_name     = "vcn"
    service_name = "services"
  }
}

subnets = {
  redis_insight = {
    compartment_name           = "dev"
    display_name               = "redis-insight"
    cidr_block                 = "10.70.10.0/24"
    dns_label                  = "insight"
    prohibit_internet_ingress  = false
    prohibit_public_ip_on_vnic = false
    security_list_names        = ["redis_insight"]
    route_table_name           = "public"
    vcn_name                   = "vcn"
  }
  cache = {
    compartment_name           = "dev"
    display_name               = "cache"
    cidr_block                 = "10.70.20.0/24"
    dns_label                  = "cache"
    prohibit_internet_ingress  = true
    prohibit_public_ip_on_vnic = true
    security_list_names        = ["cache"]
    route_table_name           = "private"
    vcn_name                   = "vcn"
  }
}

network_security_groups = {
  redis_insight = {
    compartment_name = "dev"
    display_name     = "redis-insight-nsg"
    vcn_name         = "vcn"
  }
  cache = {
    compartment_name = "dev"
    display_name     = "cache-nsg"
    vcn_name         = "vcn"
  }
}
route_tables = {
  public = {
    display_name = "public"
    vcn_name     = "vcn"
    route_rules = [
      {
	destination         = "0.0.0.0/0"
	destination_type    = "CIDR_BLOCK"
	network_entity_name = "ig_ig"
      }
    ]
  }
  private = {
    display_name = "private"
    vcn_name     = "vcn"
    route_rules = [
      {
	description         = "Traffic to OCI services"
	destination         = "services"
	destination_type    = "SERVICE_CIDR_BLOCK"
	network_entity_name = "sg_sg"
      },
      {
	description         = "Traffic to the internet through NAT"
	destination         = "0.0.0.0/0"
	destination_type    = "CIDR_BLOCK"
	network_entity_name = "ng_ng"
      }
    ]
  }
}
security_lists = {
  redis_insight = {
    vcn_name     = "vcn"
    display_name = "redis-insight"
    egress_rules = [
      {
	description      = "All egress"
	destination      = "0.0.0.0/0"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      }
    ]
    ingress_rules = [
      {
	description = "SSH access"
	protocol    = "6"
	source      = "0.0.0.0/0"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  min = 22
	  max = 22
	}
      },
      {
	description = "Redis Insight UI"
	protocol    = "6"
	source      = "0.0.0.0/0"
	source_type = "CIDR_BLOCK"
	stateless   = false
	tcp_options = {
	  min = 5540
	  max = 5540
	}
      }
    ]
  }
  cache = {
    vcn_name     = "vcn"
    display_name = "cache"
    egress_rules = [
      {
	description      = "All egress"
	destination      = "0.0.0.0/0"
	destination_type = "CIDR_BLOCK"
	protocol         = "all"
	stateless        = false
      }
    ]
    ingress_rules = []
  }
}

network_security_group_rules = {
  cache_from_redis_insight = {
    network_security_group_name = "cache"
    rules = {
      direction   = "INGRESS"
      protocol    = "6"
      source      = "redis_insight"
      source_type = "NETWORK_SECURITY_GROUP"
      stateless   = false
      description = "Allow Redis access from the Redis Insight host"
      tcp_options = {
	destination_port_range = {
	  min = 6379
	  max = 6379
	}
      }
    }
  }
  redis_insight_egress_all = {
    network_security_group_name = "redis_insight"
    rules = {
      direction        = "EGRESS"
      protocol         = "all"
      destination      = "0.0.0.0/0"
      destination_type = "CIDR_BLOCK"
      stateless        = false
      description      = "Allow the Redis Insight host to reach the internet"
    }
  }
  cache_egress_all = {
    network_security_group_name = "cache"
    rules = {
      direction        = "EGRESS"
      protocol         = "all"
      destination      = "0.0.0.0/0"
      destination_type = "CIDR_BLOCK"
      stateless        = false
      description      = "Allow cache egress"
    }
  }
}
source_ids = {
  "Oracle-Linux-10.1-2026.04.30-3" = "ocid1.image.oc1.."
}

instances = {
  redis_insight = {
    availability_domain = 1
    compartment_name    = "dev"
    display_name        = "redis-insight"
    shape               = "VM.Standard.E5.Flex"
    shape_config = {
      memory_in_gbs = 8
      ocpus         = 1
    }
    create_vnic_details = {
      assign_public_ip = true
      hostname_label   = "redisinsight"
      subnet_name      = "redis_insight"
      nsg_names        = ["redis_insight"]
    }
    source_details = {
      source_name = "Oracle-Linux-10.1-2026.04.30-3"
    }
    ssh_public_keys = [
      "ssh-rsa AAAA...replace_me"
    ]
    cloud_init = [
      {
	filename     = "userdata/redis-insight-cloud-config.yaml.tftpl"
	content_type = "text/cloud-config"
	vars = {
	  redis_insight_container_image = "redis/redisinsight:latest"
	}
      }
    ]
  }
}
