#cloud-config
package_update: true
packages:
  - podman
runcmd:
  - systemctl enable --now podman.socket || true
  - podman pull ${redis_insight_container_image}
  - podman run -d --name redisinsight --replace -p 5540:5540 ${redis_insight_container_image}
